---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.tsx";
import RegisterForm from "../components/RegisterForm.tsx";
---

<Layout title="Registro - AMG.Graphics">
	<Navbar client:load />

	<div class="max-w-7xl mx-auto px-2 md:px-4 pt-24 pb-8 md:pb-16">
		<div class="flex justify-center items-center min-h-[calc(100vh-200px)]">
			<RegisterForm client:load />
		</div>
	</div>
</Layout>
