---
const { title } = Astro.props;
import "../styles/global.css";
import Footer from "../components/Footer.tsx";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icono.png" />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<slot />
		<Footer client:load />
	</body>

	<script src="https://kit.fontawesome.com/29d9af97ad.js" crossorigin="anonymous"></script>
</html>